@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::placeholder {
  color: #666464;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

@font-face {
  font-family: 'Krona One';
  src: url('/fonts/KronaOne-Regular.ttf') format('truetype');
}

button:hover {
  background-color: #5a00c7;
}

#dropdown-menu:hover,
ul li:hover {
  color: #5a00c7;
}

.font-krona-one {
  font-family: 'Krona One', sans-serif;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
}

.left-arrow {
  left: 25px;
}

.right-arrow {
  right: 25px;
}